body {
  // font-family: "Forum", cursive;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  background: rgb(187, 187, 187);
}

main {
  min-height: calc(100vh - 80px);
  color: #ffffff;
  .conteiner {
    padding: 0px 10px;
    margin: 0 auto;
  }
}

%btnn {
  width: 140px;
  height: 30px;
  border: 1.5px solid #ffffff;
  box-sizing: border-box;
  border-radius: 60px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0);
  font-weight: 500;
  font-size: 22px;
  line-height: 22px;
  transition: background 0.3s ease 0s;
  &:hover {
    background: rgba(255, 255, 255, 0.5);
  }
  &:active {
    background: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-radius: 60px;
  }
}
//!===============================================================================

.main-page {
  &__content {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    @media (max-height: 720px) {
      height: 100%;
      .m-p__content-img-photo {
        margin: 30px 0px 30px 0px;
      }
    }
  }
}
.m-p {
  &__content-img {
    display: flex;
    justify-content: center;
  }

  &__content-img-photo {
    // margin: 20px 0px 20px 0px;
    min-width: 600px;
    min-height: 600px;
    background: url("/src/assets/menu-header/img/img-header.svg") 0 0 / cover
      no-repeat;
    background-size: 100% 100%;
    box-shadow: 0px 4px 8px 20px rgba(34, 60, 80, 0.2);
    border-radius: 20px;
    transition: box-shadow 0.1s ease 0s;
    @media (max-height: 900px) {
      min-width: 400px;
      min-height: 400px;
    }
    @media (max-width: 720px) {
      min-width: 300px;
      min-height: 300px;
    }

    &:hover {
      box-shadow: 0px 4px 8px 16px rgba(34, 60, 80, 0.2);
    }
    &:active {
      border: 5px solid rgba(255, 255, 255, 0);
      box-shadow: 0px 4px 8px 10px rgba(34, 60, 80, 0.2);
      // border-radius: 10px;
    }
  }

  &__menu {
  }

  &__menu-ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    li {
      margin: 0px 20px 0px 20px;
      padding: 10px 0px 0px 0px;
      width: 140px;
      height: 140px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      border-radius: 30px;
      box-shadow: 0px 4px 8px 11px rgba(34, 60, 80, 0.2);
      transition: box-shadow 0.2s ease 0s;
      &:hover {
        transition: box-shadow, background-color 0.3s ease 0s;
        transition: box-shadow 0.3s ease 0s;
        background-color: rgba(161, 161, 161, 0.8);
        box-shadow: 0px 4px 8px 10px rgba(34, 60, 80, 0.2);
        .m-p__menu-ul-text {
          opacity: 1;
          cursor: pointer;
        }
        &:active {
          // transition: border 0.3s ease 0s;
          border: 5px solid rgba(255, 255, 255, 0);
          box-shadow: 0px 4px 8px 5px rgba(34, 60, 80, 0.2);
        }
      }
    }
  }
  &__menu-ul-text {
    opacity: 0;
    font-weight: bold;
    font-size: 18px;
    color: rgb(223, 223, 223);
    text-align: center;
  }
  &__menu-ul-authorisation {
    background: url("./assets/menu-header/img/authorisation.png") 0 0/100% 100%
      no-repeat;
  }

  &__menu-ul-sprint {
    background: url("./assets/menu-header/img/Sprint.png") center / 70% 70%
      no-repeat;
  }

  &__menu-ul-audio-challenge {
    background: url("./assets/menu-header/img/Audio-challenge.png") center / 70%
      70% no-repeat;
  }

  &__menu-ul-textbook {
    background: url("./assets/menu-header/img/textbook.png") 0 0/100% 100%
      no-repeat;
  }

  &__menu-ul-statistics {
    background: url("./assets/menu-header/img/statistics.png") center / 80% 80%
      no-repeat;
  }
  &__menu-ul-team {
    background: url("./assets/menu-header/img/team.png") center / 80% 80%
      no-repeat;
  }
}
//!===============================================================================
.team {
  a {
    color: rgb(255, 255, 255);
  }
  &__exit {
    font-size: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: end;
    padding: 15px;
    cursor: pointer;
    &:hover {
      color: rgb(139, 139, 139);
    }
    &:active {
      color: rgb(255, 0, 0);
    }
  }
  .conteiner-size {
    max-width: 600px;
    max-height: 250px;

    border-radius: 10px;
    margin: 15px 15px;
    box-shadow: 0px 4px 8px 14px rgba(34, 60, 80, 0.2);
    transition: box-shadow 0.2s ease 0s;
    &:hover {
      transition: box-shadow, background-color 0.3s ease 0s;
      transition: box-shadow 0.3s ease 0s;
      background-color: rgba(161, 161, 161, 0.8);
      box-shadow: 0px 4px 8px 10px rgba(34, 60, 80, 0.2);
      &:active {
        box-shadow: 0px 4px 8px 5px rgba(34, 60, 80, 0.2);
      }
    }
  }

  &__content-conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10vh;
  }

  &__first {
  }

  .team__first-icon,
  .team__second-icon,
  .team__third-icon {
    margin: 0 auto;
    width: 70px;
    height: 70px;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &__first-icon {
    background: url("https://avatars.githubusercontent.com/u/71373383?v=4") 0 0/100%
      100% no-repeat;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
  }

  &__text-conteiner {
    display: flex;
    p {
      background: rgba(255, 255, 255, 0.253);
      width: 160px;
      height: 30px;
      margin: 10px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__text-difficult {
    color: rgb(134, 0, 0);
  }

  &__text-normal {
    color: #aa9102;
  }

  &__text-easily {
    color: rgb(1, 160, 15);
  }

  &__second {
  }

  &__second-icon {
    background: url("https://avatars.githubusercontent.com/u/45365765?v=4") 0 0/100%
      100% no-repeat;
  }

  &__third {
  }

  &__third-icon {
    background: url("https://avatars.githubusercontent.com/u/71558467?v=4") 0 0/100%
      100% no-repeat;
  }
}

//!===============================================================================

.footer {
  .conteiner {
    padding: 0px;
    margin: 0 auto;
  }
  &__content {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
    background: #192f2d;
  }

  &__logors {
  }

  &__logors-link {
  }

  &__logors-img {
    background: url("/src/assets/menu-header/footer/rs_school_footer.svg") 0
      no-repeat;
    width: 120px;
    height: 80px;
  }

  &__logo-data {
  }

  &__logo-naim {
    a {
      color: #ffffff;
      border: 5px solid rgba(255, 255, 255, 0);
      margin: 0px 10px 0px 10px;
      transition: box-shadow, background 0.3s ease 0s;
      border-radius: 20px;
      @media (max-width: 720px) {
      }

      &:hover {
        box-shadow: 0px 4px 8px 5px rgba(255, 255, 255, 0.2);
        background: rgb(65, 65, 65);
      }
      &:active {
        box-shadow: 0px 4px 8px 5px rgba(2, 143, 250, 0.2);
        // border-radius: 10px;
      }
    }
  }

  &__logo-naim-link {
  }
}

//!===============================================================================

.hide-pages {
  display: none;
}
