@import 'keyframes.scss';
%box-shadow {
    -webkit-box-shadow: 0px 5px 10px 2px silver;
    -moz-box-shadow: 0px 5px 10px 2px silver;
    box-shadow: 0px 5px 10px 2px silver;
}

%box-shadow-inset {
    -webkit-box-shadow: 0px 5px 10px 2px silver inset;
    -moz-box-shadow: 0px 5px 10px 2px silver inset;
    box-shadow: 0px 5px 10px 2px silver inset;
}

@mixin animation($prop) {
    -webkit-animation: $prop;
    animation: $prop;
}

.sprint {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
    user-select: none;
    &__welcome {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 90vw;
        height: 70vh;
        border-radius: 1vw;
        @extend %box-shadow;
        color: grey;
        .welcome {
            &__heading {
                font-size: 3rem;
            }
            &__text {
                font-size: 1.3rem;
            }
            &__start-btn {
                padding: 2vh 2vw;
                font-size: 1.3rem;
                border-radius: 1vw;
                @extend %box-shadow;
                color: grey;
                &:hover {
                    @include animation(pulsate-bck 0.5s ease-in-out infinite both);
                }
                &:active {
                    background-color: silver;
                }
            }
            &__level-list {
                display: flex;
                align-items: center;
                justify-content: center;
                .level-list__item {
                    .level-item__input {
                        display: none;
                    }
                    .level-item__label {
                        display: inline-block;
                        margin: 0 2vw;
                        padding: 1vw;
                        font-size: 2rem;
                        border-radius: 1vw;
                        cursor: pointer;
                    }
                    .level-item__input:checked+.level-item__label {
                        @extend %box-shadow;
                        @include animation(jello-vertical 0.9s both);
                    }
                }
            }
        }
    }
    &__game {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70vw;
        height: 70vh;
        font-size: 2rem;
        border-radius: 1vw;
        color: grey;
        @extend %box-shadow;
        .game {
            &__score {
                position: absolute;
                top: 5vh;
                left: 5vw;
            }
            &__timer {
                position: absolute;
                top: 5vh;
                right: 5vw;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 5rem;
                height: 5rem;
                .animate-container {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border: 4px solid silver;
                    border-top: 4px solid grey;
                    border-bottom: 4px solid grey;
                    border-radius: 50%;
                    @include animation(rotate 2s infinite linear);
                }
            }
            &__field {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                height: 90%;
                width: 50%;
                text-transform: capitalize;
                .field {
                    &__multiplier {
                        position: relative;
                        display: flex;
                        align-items: center;
                        .multiplier {
                            &__mark {
                                width: 2vw;
                                height: 2vw;
                                background: url("/src/sprint/assets/icons/done.png") no-repeat center center;
                                background-size: 80%;
                                opacity: 0.1;
                            }
                            &__multiply {
                                position: absolute;
                                top: 100%;
                                left: 50%;
                                transform: translateX(-50%);
                                display: flex;
                                align-items: center;
                                &>* {
                                    width: 1vw;
                                    height: 2vw;
                                }
                                .multiply {
                                    &-mark {
                                        background: url("/src/sprint/assets/icons/multiply.png") no-repeat center center;
                                        background-size: contain;
                                    }
                                    &-one {
                                        background: url("/src/sprint/assets/icons/one.png") no-repeat center center;
                                    }
                                    &-two {
                                        background: url("/src/sprint/assets/icons/two.png") no-repeat center center;
                                    }
                                    &-four {
                                        background: url("/src/sprint/assets/icons/four.png") no-repeat center center;
                                    }
                                    &-eight {
                                        background: url("/src/sprint/assets/icons/eight.png") no-repeat center center;
                                    }
                                    &-number {
                                        background-size: contain;
                                    }
                                }
                            }
                        }
                    }
                    &__word {
                        font-size: 3rem;
                    }
                    &__translate {
                        font-style: italic;
                    }
                    &__hr_washed {
                        margin: 20px 0;
                        padding: 0;
                        width: 100%;
                        height: 0;
                        border: none;
                        box-shadow: 0 0 10px 1px black;
                    }
                    &__choice {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        padding-top: 2vh;
                        .choice {
                            &__result {
                                position: absolute;
                                top: 0;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                .result {
                                    width: 4vw;
                                    height: 4vw;
                                    &__yes {
                                        display: none;
                                        background: url("/src/sprint/assets/icons/result-yes.png") no-repeat center center;
                                        background-size: contain;
                                    }
                                    &__no {
                                        display: none;
                                        background: url("/src/sprint/assets/icons/result-no.png") no-repeat center center;
                                        background-size: contain;
                                    }
                                    &_active {
                                        display: inline-block;
                                        @include animation(puff-out-center .2s cubic-bezier(0.165,
                                        0.840,
                                        0.440,
                                        1.000) both);
                                    }
                                }
                            }
                            &__buttons {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                width: 70%;
                                .buttons {
                                    &__item {
                                        width: 40%;
                                        padding: 1rem;
                                        font-size: 1.2rem;
                                        border: 1px solid darken(grey, 4%);
                                        border-radius: 0.5rem;
                                        color: #f3f3f3;
                                        background: lighten(grey, 3%);
                                        box-shadow: 0px 2px 0 darken(grey, 5%), 2px 4px 6px darken(grey, 2%);
                                        transition: all 150ms linear;
                                    }
                                    &__item:hover {
                                        box-shadow: 0px 4px 0 darken(grey, 5%), 3px 5px 7px darken(grey, 2%);
                                    }
                                    &__item:active {
                                        border: 1px solid rgba(#000, .05);
                                        background: darken(grey, 1.5%);
                                        box-shadow: 1px 1px 2px rgba(#fff, .2);
                                        color: darken(silver, 1%);
                                    }
                                    &__item::before,
                                    &__item::after {
                                        position: absolute;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        font-size: 2rem;
                                        color: grey;
                                        pointer-events: none;
                                    }
                                    &__item_active::before,
                                    &__item_active::after {
                                        @include animation(pulsate .5s ease-in-out);
                                    }
                                    &__false-btn::before {
                                        content: "\21E6";
                                        left: 1vw;
                                    }
                                    &__true-btn::after {
                                        content: "\21E8";
                                        right: 1vw;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &__modal-result {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40vw;
        height: 80vh;
        padding: 15px;
        border-radius: 1vw;
        background: #f3f3f3;
        color: grey;
        @extend %box-shadow;
        .modal-result {
            &__heading {
                font-size: 2rem;
                margin-bottom: 2vh;
            }
            &__progress {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 80%;
                .progress {
                    &__smiles {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 90%;
                        margin-bottom: 1vh;
                        .smiles {
                            &__sad {
                                background: url(/src/sprint/assets/icons/sad-face.png) no-repeat center center;
                            }
                            &__poker {
                                background: url(/src/sprint/assets/icons/poker-face.png) no-repeat center center;
                            }
                            &__happy {
                                background: url(/src/sprint/assets/icons/happy-face.png) no-repeat center center;
                            }
                            &__item {
                                width: 40px;
                                height: 40px;
                                background-size: contain;
                            }
                        }
                    }
                    &__bar {
                        position: relative;
                        width: 100%;
                        height: 20px;
                        padding: 2px;
                        background-color: grey;
                        .bar {
                            &__fill {
                                width: 0%;
                                height: 16px;
                                background: silver;
                            }
                            &__percent {
                                position: absolute;
                                top: 125%;
                                left: 0%;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
            &__words {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-grow: 1;
                width: 100%;
                margin: 1.5rem 0;
                padding: 10px 0;
                border-radius: 1vw;
                overflow-y: auto;
                &::-webkit-scrollbar {
                    transform: translateX(50px);
                    width: 15px;
                    border-radius: 1vw;
                    background-color: grey;
                    cursor: pointer;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: silver;
                    border-radius: 1vw;
                }
                &::-webkit-scrollbar-thumb:hover {
                    box-shadow: inset 1px 1px 10px #f3f3f3;
                }
                @extend %box-shadow-inset;
                .words {
                    &__subheading {
                        font-size: 1.3rem;
                        margin-bottom: 1vh;
                        align-self: flex-start;
                    }
                    &__mistakes,
                    &__correct {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 80%;
                        .mistakes,
                        .correct {
                            &__list {
                                width: 90%;
                                .list {
                                    &__item {
                                        display: flex;
                                        align-items: center;
                                        width: 100%;
                                        .item {
                                            &__sound {
                                                width: 20px;
                                                height: 20px;
                                                margin-right: 4vw;
                                                background: url(/src/sprint/assets/icons/sound-word.png) no-repeat center center;
                                                background-size: contain;
                                            }
                                            &__text {
                                                font-size: 1.2rem;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &__buttons {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 50%;
                .buttons {
                    &__item {
                        font-size: 1.5rem;
                        color: grey;
                        transition: 0.3s;
                    }
                    &__item:hover {
                        transform: translateY(-10%) scale(1.1);
                    }
                }
            }
        }
    }
    &__controls {
        position: absolute;
        top: 2vh;
        right: 2vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        .controls {
            &__close-btn {
                background: url("/src/sprint/assets/icons/close-btn.png") no-repeat center center;
            }
            &__fullscreen-btn {
                background: url("/src/sprint/assets/icons/fullscreen-in.png") no-repeat center center;
            }
            &__fullscreen-out-btn {
                background: url("/src/sprint/assets/icons/fullscreen-out.png") no-repeat center center;
            }
            &__sound-btn {
                background: url("/src/sprint/assets/icons/sound-on.png") no-repeat center center;
            }
            &__sound-mute-btn {
                background: url("/src/sprint/assets/icons/sound-off.png") no-repeat center center;
            }
            &__item {
                width: 20px;
                height: 20px;
                margin: 1vw 0;
                background-size: contain;
                background-color: #f3f3f3;
                &:hover {
                    @include animation(shake-lr 0.7s cubic-bezier(0.455,
                    0.030,
                    0.515,
                    0.955) both);
                }
                &:active {
                    opacity: 0.5;
                }
            }
        }
    }
}

.hide {
    display: none;
}